h1{
  text-align: center;
}
img{
  height: auto;
  width: 50%;
}
body{
  color:darkgreen;
  background-color:rgba(128, 128, 128, 0.694);
  font-family:Tahoma, sans-serif; 
}

.profile{
  width: 40%;
  float: right;
  color:white;
  background-color: black;
  padding:4px;
}

.name{
  font-size: 20px;
}

